:80 {
        @portLocalhost header_regexp port Host ^([0-9]+)\.localhost$
        handle @portLocalhost {
                reverse_proxy localhost:{re.port.1}
        }
        
        handle {        
                respond "Bad hostname" 400
        }
}